swiper-container {
    width: 80%;
    height: 100%;
}
  
.custom-bg-color {
    --background: #0A0A0A;
}
  
.sp-bg-color {
    background-color: #1c1c1c;
}
  
.cool-title {
    color: red;
}
  
.icon-person {
    width: 2rem;
    height: 2rem;
}
  
img {
    width: 11rem;
}
  
h2 {
    margin-left: 1rem;
}

ion-row {
    display: flex;
    justify-content: center;
}